

/* Mobile Styles */
@media (max-width: 1440px) {
  .header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
  }
   
.App-header {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 10px;
    background-color: transparent;
    text-align: left; 
    margin-bottom: 35px; 
}

.App-header .title {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom: 2px solid white;
  text-align: left;
  align-items: left; 
     
}
   



 
}

/* Desktop Styles */@media (min-width: 800px) {
    .header{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        align-items: center;
    }
    .App-header{
       width: 75%;
       height: 50px;
       display: flex;
       flex-direction: row; 
       justify-content: center;
       align-items: center;
        
    
    }  
    .App-header .title {
        border-bottom: none;
        width: 90%;
        display: flex;
        flex-direction: column;

    }

  
}