.small-card {
    background-color: var(--Card-bg);
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;}

.top-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top-row{
    padding-bottom: 10px;
}

.top-row small {
    font-size: 11px;
    font-weight: bold;
    color: var(--secondary-text-color);
}

.bottom-row h1 {
    font-size: 35px;
    margin: 10px 0;
    color: var(--primary-text-color)
}

.platform-logo {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.bottom-row nav {
    font-size: 8px;
}
