styles.css
.big-card {
    width: 200px;
    height: 150px;
    border-width: 6px;
    border-style: solid;
}

.facebook {
    border-color: #1DA1F2;
}

.twitter {
    border-color: #3b5998;
}

.youtube {
    border-color: #FF0000;
}

.default {
    border-color: #000;
}

.instagram {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, orange, pink, purple);
}
