.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  
}


.App-header {
  height: 100%;
  color:transparent;
  justify-content: center;
  align-items: center;
  padding-right: 30px;

}

.mode {
  display: flex;

}



.headerShade {
  width: 100%;
  height: 25%;  
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
  justify-content: center;
  align-items: center;
}

h2{
  color: var(--primary-text-color);
}

p{
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: small;

}

/* Mobile Styles */
@media (max-width: 500px) {
 
  .App-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column
    padding-top: 20px;
     
  }

  .App-header .title {
    padding-left: 0; /* Remove padding for mobile */
    align-items: left;
    padding-top: 20px;
    width: 90%;
  }

  .headerShade {
    height: 30%;
    width: 100%;
    background-color: var(--foreground-color)
  
  }
  .mode {
    display: flex;
    flex-direction: row;
    
  }
  p{
    margin-bottom: 10px;
  }
}

/* Desktop Styles */
@media (min-width: 1540px) {
  
  .headerShade {
    width: 100%;
    height: 30%;
    
  }
}