.home-bottom {
    background-color:var(--background-color);
    color: var(--text-color);
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--card-background-color);
}

.overview {
    width: 75%;
    text-align: left;
    color: var(--secondary-text-color);
}

.overview h1 {
    font-size: 18px;
    color: var(--text-color);
}

.cards {
    width: 80%;
    background-color: var(--background-color);
    padding-bottom: 100px;
    
    
}

.small-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    min-width: 200px;
    padding: 20px;
    background-color: var(--card-background-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.card p {
    font-size: 16px;
    color: var(--secondary-color);
}

.card span {
    font-size: 14px;
    color: var(--primary-color);
}

/* Mobile Styles */
@media (max-width: 375px) {
    .home-bottom {
        padding: 10px;
    }

    .card-container {
        width: 100%;
    }

    .overview h1 {
        font-size: 16px;
    }

    .card {
        padding: 10px;
        min-width: 100%;
    }

    .card h2 {
        font-size: 20px;
    }

    .card p {
        font-size: 14px;
    }
}

/* Desktop Styles */
@media (min-width: 1440px) {
    .home-bottom {
        padding: 40px;
    }

    .card-container {
        width: 80%;
    }

    .overview h1 {
        font-size: 22px;
    }

    .card {
        padding: 30px;
        min-width: 300px;
    }

    .card h2 {
        font-size: 28px;
    }

    .card p {
        font-size: 18px;
    }
}
